<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Uprawnienie do korzystania z internetu (API Warszawy + Google Maps) -->
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- Dokładna lokalizacja (GPS) – potrzebna do pokazywania pozycji użytkownika -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <!-- Przybliżona lokalizacja (WiFi, BTS) – alternatywa gdy GPS jest słaby -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <!--
    Główna konfiguracja aplikacji.
    - allowBackup: zezwala na tworzenie kopii zapasowych danych użytkownika przez system.
    - supportsRtl: włącza wsparcie dla języków pisanych od prawej do lewej (np. arabski, hebrajski).
    - targetApi: deklaruje, że aplikacja jest świadoma zmian w API 31+ (Android 12).
-->
    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Lokalizator_bankomatw"
        tools:targetApi="31">

        <!-- Klucz Google Maps pobierany dynamicznie z build.gradle poprzez manifestPlaceholders -->
        <!-- Wartość ${MAPS_API_KEY} zostanie automatycznie zastąpiona kluczem z local.properties podczas kompilacji -->
        <!-- ${MAPS_API_KEY} to placeholder – symboliczna zmienna, której prawdziwa wartość jest wstrzykiwana przez Gradle -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="${MAPS_API_KEY}" />


        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".DefibrillatorDetailsActivity"
            android:exported="false"
            android:label="Szczegóły AED" />

    </application>
</manifest>